<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2" >
    <h3 style="color: #155d5d; font-size: 2rem; text-align: center;" id="create">Edit your Listing</h3>
    <div class="col-12 offerContainer" style="padding-right: 40px; padding-left: 40px;">
    <form
      method="POST"
      action="/listings/<%= listing._id %>?_method=PUT"
      novalidate
      class="needs-validation form1"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label" style="text-align: center;">Title</label>
        <input
          name="listing[title]"
          value="<%= listing.title %>"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          class="form-control"
          row="5"
          required
        >
<%=listing.description
          %></textarea
        >
        <div class="invalid-feedback">Enter vaild description</div>
      </div>

      <div class="mb-3">
        Original listing image <br />
        <img src="<%= originalImageUrl %>" width="200px" />
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload new image</label>
        <input name="listing[image]" type="file" class="form-control" />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            value="<%= listing.price %>"
            type="number"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid price</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            value="<%= listing.country %>"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter the country name</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          value="<%= listing.location %>"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter valid location</div>
      </div>
      <div class="mb-3">
        <label for="sustainable" class="form-label">Do you have solar panels installed at your property? If yes, do they generate enough energy to power all appliances without using additional electricity?</label>
        <select
          name="listing[sustainable]"
          class="form-select"
          required>
          <option value="false" selected>Select an option</option>
          <option value="true">Yes, they generate enough energy</option>
          <option value="true">No, they do not generate enough energy</option>
          <option value="false">No solar panels are installed</option>
        </select>
        <div class="invalid-feedback">Please select whether the solar panels are sufficient or not.</div>
      </div>
      <div class="mb-3">
        <label for="commercial" class="form-label">Is it a Commercial Listing?</label>
        <select
          name="listing[commercial]"
          class="form-select"
          required>
          <option value="false" selected>Select an option</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
        <div class="invalid-feedback">Please select whether it is a commercial listing or not</div>
      </div>
      <button class="btn btn-dark edit-btn mt-3 mb-4">Edit</button>
    </form>
    </div>
  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector(".needs-validation");

        form.addEventListener("submit", function (event) {
            if (!form.checkValidity()) {
                event.preventDefault(); // Prevent form submission if invalid
                event.stopPropagation();
            }
            form.classList.add("was-validated"); // Apply Bootstrap validation styles
        });
    });
</script>
